

*:focus, a:focus {
    outline: 3px solid #d71ef7;
    border: 3px solid #ffffff;
}

#page a  { text-decoration:underline  } 

label {  display:block; font-weight:bold;  } 
form div { margin-bottom:2rem; } 
input[type="text"] { width:30%; } 

input[type="submit"] {
    margin: 0px 0px 5px 5px;
}


/* END page level styles */

/* BEGIN Table */
table, th, td { border-collapse: collapse; border:1px solid #ccc; padding:10px; text-align:left; vertical-align:top; }
th { font-weight:bold; }

td > pre { margin:0; border:none;  max-height:none; white-space: pre-wrap;  } 

/* END Table */

.logo {
    filter: brightness(3);
}

.nav-vertical-center {
    align-self: center;
}

h1.title.nav-vertical-center, h1.title.nav-vertical-center a {
    margin: unset;
    color: white;
}

a#home-link {
    text-decoration: none;
}
